<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.mapper.BusinessMapper">

    <select id="getBusinessOverviewData" resultType="com.qk.vo.OverviewVO">
        select count(1)                       as businessTotal,
               count(if(status = 1, 1, null)) as businessWaitAllot,
               count(if(status = 2, 2, null)) as businessWaitFollow,
               count(if(status = 3, 3, null)) as businessFollowing,
               count(if(status = 4, 4, null)) as businessFalse,
               count(if(status = 5, 5, null)) as businessConvertCustomer
        from business;
    </select>

    <select id="businessList" resultType="com.qk.entity.Business">
        select b.*,u.name as assignName
        from business b
        left join user u on b.user_id = u.id
        <where>
            <if test="businessDto.businessId != null">
                b.id=#{businessDto.businessId}
            </if>
            <if test="businessDto.name != null and businessDto.name!= ''">
                and b.name like concat('%',#{businessDto.name},'%')
            </if>
            <if test="businessDto.phone != null and businessDto.phone != ''">
                and b.phone like concat('%',#{businessDto.phone},'%')
            </if>
            <if test="businessDto.status != null">
                and b.status=#{businessDto.status}
            </if>
            <if test="businessDto.assignName != null and businessDto.assignName!= ''">
                and u.name like concat ('%',#{businessDto.assignName},'%')
            </if>
        </where>
        order by update_time desc
    </select>
</mapper>