<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.mapper.BusinessMapper">

    <select id="getBusinessOverviewData" resultType="com.qk.vo.OverviewVO">
        select count(1)                       as businessTotal,
               count(if(status = 1, 1, null)) as businessWaitAllot,
               count(if(status = 2, 2, null)) as businessWaitFollow,
               count(if(status = 3, 3, null)) as businessFollowing,
               count(if(status = 4, 4, null)) as businessFalse,
               count(if(status = 5, 5, null)) as businessConvertCustomer
        from business;
    </select>

    <select id="businessList" resultType="com.qk.entity.Business">
        select b.*,u.name as assignName
        from business b
        left join user u on b.user_id = u.id
        <where>
            <if test="businessDto.businessId != null">
                b.id=#{businessDto.businessId}
            </if>
            <if test="businessDto.name != null and businessDto.name!= ''">
                and b.name like concat('%',#{businessDto.name},'%')
            </if>
            <if test="businessDto.phone != null and businessDto.phone != ''">
                and b.phone like concat('%',#{businessDto.phone},'%')
            </if>
            <if test="businessDto.status != null">
                and b.status=#{businessDto.status}
            </if>
            <if test="businessDto.assignName != null and businessDto.assignName!= ''">
                and u.name like concat ('%',#{businessDto.assignName},'%')
            </if>
        </where>
        order by update_time desc
    </select>
    <resultMap id="busiMap" type="com.qk.entity.Business">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="wechat" property="wechat"/>
        <result column="qq" property="qq"/>
        <result column="subject" property="subject"/>
        <result column="course_id" property="courseId"/>
        <result column="degree" property="degree"/>
        <result column="job_status" property="jobStatus"/>
        <result column="channel" property="channel"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
        <result column="clue_id" property="clueId"/>
        <result column="next_time" property="nextTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="trackRecords" ofType="com.qk.entity.BusinessTrackRecord">
            <id column="tr_id" property="id"/>
            <result column="tr_business_id" property="businessId"/>
            <result column="tr_user_id" property="userId"/>
            <result column="tr_track_status" property="trackStatus"/>
            <result column="tr_key_items" property="keyItems"/>
            <result column="tr_next_time" property="nextTime"/>
            <result column="tr_record" property="record"/>
            <result column="tr_create_time" property="createTime"/>
            <result column="assign_name" property="assignName"/>
        </collection>
    </resultMap>

    <select id="seleteById" resultMap="busiMap">
        select b.id,
               b.name,
               b.phone,
               b.gender,
               b.age,
               b.wechat,
               b.qq,
               b.subject,
               b.course_id,
               b.degree,
               b.job_status,
               b.channel,
               b.remark,
               b.status,
               b.user_id,
               b.clue_id,
               b.next_time,
               b.create_time,
               b.update_time,
               tr.id           tr_id,
               tr.business_id  tr_business_id,
               tr.user_id      tr_user_id,
               tr.track_status tr_track_status,
               tr.key_items    tr_key_items,
               tr.next_time    tr_next_time,
               tr.record       tr_record,
               tr.create_time  tr_create_time,
               u.name          assign_name
        from business b
                 left join business_track_record tr on b.id = tr.business_id
                 left join user u on tr.user_id = u.id
        where b.id = #{id}
    </select>
</mapper>