<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.mapper.RoleMapper">
    <update id="updateRole">
        update role
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="label != null and label != ''">
                label=#{label},
            </if>
            <if test="remark != null and remark != ''">
                remark=#{remark},
            </if>
            update_time=#{updateTime}
        </set>
        where id=#{id}
    </update>

    <select id="roleList" resultType="com.qk.entity.Role">
        select * from role
        <where>
            <if test="name!= null and name!=''">
                name like concat('%',#{name},'%')
            </if>
            <if test="label != null and label!=''">
                lable like concat('%',#{},'%')
            </if>
        </where>
    </select>
</mapper>